<div class="bio-home">
  <div class="presenting-video">
    {{!-- <video src=""></video>
    <div id="player" data-plyr-provider="vimeo" data-plyr-embed-id="529441048"></div> --}}
  </div>
  <p>My name is Edoardo Marcuzzi and I'm a young director, freelance journalist and creative producer born on the 19 of April in La Spezia, a little city in Italy.In 2015 I moved to Milan to start my university career in media languages of cinema and I graduated in 2019. During this period of my life, I collaborated for 3 and half for a cultural association of my university, where every month I had to publish various articles about the cinema world and we were often invited to report some festivals, about cinema and music, around Italy. I also had different work experiences, first with a production based in Milan, where I worked as an editor and assistant director, and after for a radio planning the interviews. I also assisted one professor of my university to publish a book about the literature of south Italy.
  In 2020 I moved to Barcelona starting a master's degree in filmmaking. With my class I directed 5 shortmovies and I collaborated with many others doing different jobs.                                                                                     In my initial career as a director, I focused my attention in the horror genre, trying to show stories with a scary storytelling. But I want to increase my knowledge of the differents kinds of cinema and video productions and I consider myself a flexible videomaker, because I also made some videos about sports events or crowdfunding's campaigns.                                                                                My goal is to win the oscar trophy one day.
  </p>
</div>