<div class="bio-home">
  <div class="presenting-video">
    {{!-- <video src=""></video>
    <div id="player" data-plyr-provider="vimeo" data-plyr-embed-id="529441048"></div> --}}
  </div>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, architecto expedita illo repudiandae impedit dolor esse. Accusantium, iste, esse voluptatem optio repellat amet libero illum sequi, ex ut suscipit? Asperiores! Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, architecto expedita illo repudiandae impedit dolor esse. Accusantium, iste, esse voluptatem optio repellat amet libero illum sequi, ex ut suscipit? Asperiores!</p>
</div>