$icomoon-font-family: "portfolio-edo" !default;
$icomoon-font-path: "../fonts/fonts" !default;

$icn-phone: "\e904";
$icn-close: "\e903";
$icn-instagram: "\e900";
$icn-linkedin: "\e901";
$icn-vimeo: "\e902";

