<div class="simple-video">
  <a data-toggle="modal" data-target="#modal-video" data-id="{{id}}" class="preview">
    <img src="{{cover}}" alt="">
    <span class="icon material-icons-outlined">play_circle_outline</span>
  </a>
  <h2 class="title">{{title}}</h2>
</div>