<div class="banner-cv">
  <div class="text">
    <h3 class="title">Stai cercando il mio CV ?</h3>
    <p class="description">Eccoti una bella scorciatoia per non farti perdere tempo</p>
  </div>
  <a href="#" download="download" class="download-btn">
    <span class="btn-text">Scarica il mio CV</span>
    <span class="material-icons-outlined">file_download</span>
  </a>
</div>