<div class="input-wrapper">
  {{#if input}}<input type="text" id="{{id}}" placeholder="{{placeholder}}">{{/if}}
  {{#if textarea}}<textarea name="" id="{{id}}" cols="30" rows="10" placeholder="{{placeholder}}"></textarea>{{/if}}
</div>