{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "usage",
      "corejs": 3,
      "debug": true,
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7", "Firefox > 34"]
      }
    }]
  ]
}
