.modal {
  .modal-dialog {
    max-width: 900px;

    @include media-breakpoint-up(xl) {
      max-width: 1200px;
    }
  }

  .modal-content {
    background-color: transparent;
    color: $white;
  }

  .modal-header {
    border: 0;
    padding: 0 15px;

  }

  .close {
    font-size: 30px;
    color: $white;
  }

  .title {
    font-size: 28px;
    line-height: 1.2;
    text-align: center;

    @include media-breakpoint-up(md) {
      font-size: 40px;
    }
  }

  .description {
    font-size: 14px;
    line-height: 1.4;
    margin-top: 30px;

    @include media-breakpoint-up(md) {
      font-size: 18px;
    }
  }
}

.modal-backdrop.show {
  opacity: .95;
}