<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="icn-close"></span>
        </button>
      </div>
      <div class="modal-body">
        <h5 class="title">Titolo di questo video</h5>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate minus facilis aut unde magni commodi porro doloremque laboriosam quis, consectetur consequatur dolor vel officiis architecto eos? Minima nam quidem nihil! Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate minus facilis aut unde magni commodi porro doloremque laboriosam quis, consectetur consequatur dolor vel officiis architecto eos? Minima nam quidem nihil!</p>
        <video class="mt-50" src="https://storage.coverr.co/videos/s4kTs5BvTelxycBxkODYCjqhNDG01jx6H?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBJZCI6Ijg3NjdFMzIzRjlGQzEzN0E4QTAyIiwiaWF0IjoxNjE3NjExMTMwfQ.MdLmzQ5nKL1_GOVugFZaBYLnQraBXp_dYnkJAj-9gu0" controls></video>
      </div>
    </div>
  </div>
</div>