<div class="modal fade modal-video" id="modal-email" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog email-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="icn-close"></span>
        </button>
      </div>
      <div class="modal-body text-center">
        <span class="ok-icon material-icons-outlined">check_circle</span>
        <h2>Mail inviata con successo</h2>
      </div>
    </div>
  </div>
</div>