@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?4i8hrz');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?4i8hrz#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?4i8hrz') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?4i8hrz') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?4i8hrz##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icn-"], [class*=" icn-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icn-phone {
  &:before {
    content: $icn-phone; 
  }
}
.icn-close {
  &:before {
    content: $icn-close; 
  }
}
.icn-instagram {
  &:before {
    content: $icn-instagram; 
  }
}
.icn-linkedin {
  &:before {
    content: $icn-linkedin; 
  }
}
.icn-vimeo {
  &:before {
    content: $icn-vimeo; 
  }
}

