<div class="main-video">
  <div class="row">
    <div class="col-12 col-md-6">
      <video class="video-item" src="https://storage.coverr.co/videos/s4kTs5BvTelxycBxkODYCjqhNDG01jx6H?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBJZCI6Ijg3NjdFMzIzRjlGQzEzN0E4QTAyIiwiaWF0IjoxNjE3NjExMTMwfQ.MdLmzQ5nKL1_GOVugFZaBYLnQraBXp_dYnkJAj-9gu0" controls poster="https://picsum.photos/1000/600"></video>
    </div>
    <div class="col-12 col-md-6">
      <h2 class="title">Titolo di questo bel video</h2>
      <p class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem perspiciatis praesentium, dolorum iste, quisquam tempora tempore maiores aperiam sapiente modi aut aspernatur corporis totam provident pariatur voluptatibus minima numquam ut!</p>
    </div>
  </div>
</div>