<div class="main-video">
  <div class="row">
    <div class="col-12 col-md-6">
      <div id="player" data-plyr-provider="vimeo" data-plyr-embed-id="529441048"></div>
    </div>
    <div class="col-12 col-md-6">
      <h2 class="title">REEL</h2>
      {{!-- <p class="description">Descrizione</p> --}}
    </div>
  </div>
</div>