<header>
  <div class="header-desktop">
    <a href="index.html">
      <img class="logo" src="../assets/images/logo-placeholder.png" alt="">
    </a>
    <nav>
      <a href="index.html" class="nav-item">Home</a>
      <a href="foto.html" class="nav-item">Fotografia</a>
      <a href="video.html" class="nav-item">Video Making</a>
      <a href="contatti.html" class="nav-item">Contatti</a>
    </nav>
    <div class="social-wrapper">
      <a href="#"><span class="social-item icn-linkedin"></span></a>
      <a href="#"><span class="social-item icn-vimeo"></span></a>
      <a href="#"><span class="social-item icn-instagram"></span></a>
    </div>
  </div>
  <div class="header-mobile">
    <div class="mobile-head">
      <a href="index.html">
        <img class="logo" src="../assets/images/logo-placeholder.png" alt="">
    </a>
      <span class="hamburger-mobile material-icons-outlined">menu</span>
    </div>
    <div class="mobile-navigation">
      <nav>
        <a href="index.html" class="nav-item">Home</a>
        <a href="foto.html" class="nav-item">Fotografia</a>
        <a href="video.html" class="nav-item">Video Making</a>
        <a href="contatti.html" class="nav-item">Contatti</a>
      </nav>
      <div class="social-wrapper mt-50">
        <a href="#"><span class="social-item icn-linkedin"></span></a>
        <a href="#"><span class="social-item icn-vimeo"></span></a>
        <a href="#"><span class="social-item icn-instagram"></span></a>
      </div>
    </div>
  </div>
</header>