<header>
  <div class="header-desktop">
    <a href="index.html">
      <img class="logo" src="./assets/images/logo.png" alt="">
    </a>
    <nav>
      <a href="index.html" class="nav-item {{#if active-1}}active{{/if}}">Home</a>
      <a href="foto.html" class="nav-item {{#if active-2}}active{{/if}}">Photos</a>
      <a href="video.html" class="nav-item {{#if active-3}}active{{/if}}">Cinema</a>
      <a href="about.html" class="nav-item {{#if active-4}}active{{/if}}">About</a>
    </nav>
  </div>
  <div class="header-mobile">
    <div class="mobile-head">
      <a href="index.html">
        <img class="logo" src="./assets/images/logo.png" alt="">
      </a>
      <span class="hamburger-mobile material-icons-outlined">menu</span>
    </div>
    <div class="mobile-navigation">
      <nav>
        <a href="index.html" class="nav-item {{#if active-1}}active{{/if}}">Home</a>
        <a href="foto.html" class="nav-item {{#if active-2}}active{{/if}}">Photos</a>
        <a href="video.html" class="nav-item {{#if active-3}}active{{/if}}">Cinema</a>
        <a href="about.html" class="nav-item {{#if active-4}}active{{/if}}">About</a>
      </nav>
    </div>
  </div>
</header>