<header>
  <div class="header-desktop">
    <div class="logo">Edoardo Marcuzzi</div>
    <nav>
      <a href="index.html" class="nav-item">Home</a>
      <a href="foto.html" class="nav-item">Fotografia</a>
      <a href="video.html" class="nav-item">Video Making</a>
      <a href="contatti.html" class="nav-item">Contatti</a>
    </nav>
    <div class="social-wrapper">
      <div class="social-item"></div>
      <div class="social-item"></div>
      <div class="social-item"></div>
    </div>
  </div>
  <div class="header-mobile">
    <div class="mobile-head">
      <div class="logo">Edoardo Marcuzzi</div>
      <span class="hamburger-mobile material-icons-outlined">menu</span>
    </div>
    <div class="mobile-navigation">
      <nav>
        <a href="index.html" class="nav-item">Home</a>
        <a href="foto.html" class="nav-item">Fotografia</a>
        <a href="video.html" class="nav-item">Video Making</a>
        <a href="contatti.html" class="nav-item">Contatti</a>
      </nav>
      <div class="social-wrapper mt-50">
        <div class="social-item"></div>
        <div class="social-item"></div>
        <div class="social-item"></div>
      </div>
    </div>
  </div>
</header>