<div class="gallery-wrapper">
  <div class="section-title">Photography</div>
  <div class="filter-wrapper">
    <div class="filter-item active" data-filter="all">All</div>
    <div class="filter-item" data-filter="type-1">Photos</div>
    <div class="filter-item" data-filter="type-2">Frames</div>
  </div>
  <div id="lightgallery" class="row"></div>
</div>