<div class="gallery-wrapper">
  <div class="section-title">Photography</div>
  <div id="lightgallery" class="row">
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-30">
      <a href="./assets/images/photo/DSC00281.jpg" class="gallery-item">
        <img src="./assets/images/photo/DSC00281.jpg" alt="" />
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-30">
      <a href="./assets/images/photo/DSC00374.jpg" class="gallery-item">
        <img src="./assets/images/photo/DSC00374.jpg" alt="" />
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-30">
      <a href="./assets/images/photo/DSC00397.jpg" class="gallery-item">
        <img src="./assets/images/photo/DSC00397.jpg" alt="" />
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-30">
      <a href="./assets/images/photo/DSC00408.jpg" class="gallery-item">
        <img src="./assets/images/photo/DSC00408.jpg" alt="" />
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-30">
      <a href="./assets/images/photo/DSC00472.jpg" class="gallery-item">
        <img src="./assets/images/photo/DSC00472.jpg" alt="" />
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-30">
      <a href="./assets/images/photo/DSC00608.jpg" class="gallery-item">
        <img src="./assets/images/photo/DSC00608.jpg" alt="" />
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-30">
      <a href="./assets/images/photo/DSC00663.jpg" class="gallery-item">
        <img src="./assets/images/photo/DSC00663.jpg" alt="" />
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-30">
      <a href="./assets/images/photo/DSC00752.jpg" class="gallery-item">
        <img src="./assets/images/photo/DSC00752.jpg" alt="" />
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-30">
      <a href="./assets/images/photo/DSC00761.jpg" class="gallery-item">
        <img src="./assets/images/photo/DSC00761.jpg" alt="" />
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-30">
      <a href="./assets/images/photo/DSC00764.jpg" class="gallery-item">
        <img src="./assets/images/photo/DSC00764.jpg" alt="" />
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-30">
      <a href="./assets/images/photo/DSC00767.jpg" class="gallery-item">
        <img src="./assets/images/photo/DSC00767.jpg" alt="" />
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-30">
      <a href="./assets/images/photo/DSC00782.jpg" class="gallery-item">
        <img src="./assets/images/photo/DSC00782.jpg" alt="" />
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-30">
      <a href="./assets/images/photo/DSC00793.jpg" class="gallery-item">
        <img src="./assets/images/photo/DSC00793.jpg" alt="" />
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-30">
      <a href="./assets/images/photo/DSC00799.jpg" class="gallery-item">
        <img src="./assets/images/photo/DSC00799.jpg" alt="" />
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-30">
      <a href="./assets/images/photo/DSC00802.jpg" class="gallery-item">
        <img src="./assets/images/photo/DSC00802.jpg" alt="" />
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-30">
      <a href="./assets/images/photo/DSC00821.jpg" class="gallery-item">
        <img src="./assets/images/photo/DSC00821.jpg" alt="" />
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-30">
      <a href="./assets/images/photo/DSC00911.jpg" class="gallery-item">
        <img src="./assets/images/photo/DSC00911.jpg" alt="" />
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-30">
      <a href="./assets/images/photo/DSC00913.jpg" class="gallery-item">
        <img src="./assets/images/photo/DSC00913.jpg" alt="" />
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-30">
      <a href="./assets/images/photo/DSC01080.jpg" class="gallery-item">
        <img src="./assets/images/photo/DSC01080.jpg" alt="" />
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-30">
      <a href="./assets/images/photo/DSC01111.jpg" class="gallery-item">
        <img src="./assets/images/photo/DSC01111.jpg" alt="" />
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-30">
      <a href="./assets/images/photo/DSC01119.jpg" class="gallery-item">
        <img src="./assets/images/photo/DSC01119.jpg" alt="" />
      </a>
    </div>
  </div>
</div>