<div class="gallery-wrapper">
  <div class="section-title">Photography</div>
  <div class="filter-wrapper photo">
    <div class="filter-item active" data-filter="all">All</div>
  </div>
  <div id="lightgallery" class="row"></div>
</div>