.bio-carousel {
  margin-top: 25px;
  // margin-left: 30px;
  // margin-right: 30px;

  .slick-next,
  .slick-prev {
    span {
      color: white;
    }
  }

  .slick-autoplay-toggle-button {
    span {
      color: white;
    }
  }

  .slick-slide {
    // margin: 0 10px;
    img {
      width: 100%;
      object-fit: cover;
      aspect-ratio: 16/9;
    }
  }
}