<div class="bio-carousel">
  <div>
    <img src="./assets/images/carousel/image-1.jpeg" alt="">
  </div>
  <div>
    <img src="./assets/images/carousel/image-2.jpeg" alt="">
  </div>
  <div>
    <img src="./assets/images/carousel/image-3.jpeg" alt="">
  </div>
  <div>
    <img src="./assets/images/carousel/image-4.jpeg" alt="">
  </div>
  <div>
    <img src="./assets/images/carousel/image-5.jpeg" alt="">
  </div>
  <div>
    <img src="./assets/images/carousel/image-6.png" alt="">
  </div>
  <div>
    <img src="./assets/images/carousel/image-7.png" alt="">
  </div>
  <div>
    <img src="./assets/images/carousel/image-8.png" alt="">
  </div>
  <div>
    <img src="./assets/images/carousel/image-9.png" alt="">
  </div>
  <div>
    <img src="./assets/images/carousel/image-10.png" alt="">
  </div>
  <div>
    <img src="./assets/images/carousel/image-11.jpeg" alt="">
  </div>
</div>