<div class="bio-carousel">
  <div>
    <img src="./assets/images/carousel/image-1.png" alt="">
  </div>
  <div>
    <img src="./assets/images/carousel/image-2.png" alt="">
  </div>
  <div>
    <img src="./assets/images/carousel/image-3.png" alt="">
  </div>
  <div>
    <img src="./assets/images/carousel/image-4.png" alt="">
  </div>
  <div>
    <img src="./assets/images/carousel/image-5.png" alt="">
  </div>
  <div>
    <img src="./assets/images/carousel/image-6.png" alt="">
  </div>
  <div>
    <img src="./assets/images/carousel/image-7.png" alt="">
  </div>
  <div>
    <img src="./assets/images/carousel/image-8.png" alt="">
  </div>
  <div>
    <img src="./assets/images/carousel/image-9.png" alt="">
  </div>
  <div>
    <img src="./assets/images/carousel/image-10.png" alt="">
  </div>
  <div>
    <img src="./assets/images/carousel/image-11.png" alt="">
  </div>
  <div>
    <img src="./assets/images/carousel/image-12.png" alt="">
  </div>
</div>