<div class="bio-carousel">
  <div class="">
    <img src="https://picsum.photos/200/300" alt="">
  </div>
  <div>
    <img src="https://picsum.photos/200/300" alt="">
  </div>
  <div>
    <img src="https://picsum.photos/200/300" alt="">
  </div>
  <div>
    <img src="https://picsum.photos/200/300" alt="">
  </div>
  <div>
    <img src="https://picsum.photos/200/300" alt="">
  </div>
</div>